span.icon.BTC{
    background: url("../../assets/currency/BTC.png") no-repeat left center;
    background-size: auto 100%;
  }
  span.icon.ETH{
    background: url("../../assets/currency/ETH.png") no-repeat left center;
    background-size: auto 100%;
  }
  span.icon.BCC{
    background: url("../../assets/currency/BCC.png") no-repeat left center;
    background-size: auto 100%;
  }
  span.icon.GAME{
    background: url("../../assets/currency/GAME.png") no-repeat left center;
    background-size: auto 100%;
  }
  span.icon.LTC{
    background: url("../../assets/currency/LTC.png") no-repeat left center;
    background-size: auto 100%;
  }
  span.icon.DASH{
    background: url("../../assets/currency/DASH.png") no-repeat left center;
    background-size: auto 100%;
  }
  span.icon.BTG{
    background: url("../../assets/currency/BTG.png") no-repeat left center;
    background-size: auto 100%;
  }
  span.icon.LSK{
    background: url("../../assets/currency/LSK.png") no-repeat left center;
    background-size: auto 100%;
  }
  span.icon.IOTA{
    background: url("../../assets/currency/IOTA.png") no-repeat left center;
    background-size: auto 100%;
  }
  span.icon.XLM{
    background: url("../../assets/currency/XLM.png") no-repeat left center;
    background-size: auto 100%;
  }
  span.icon.ADA{
    background: url("../../assets/currency/ADA.png") no-repeat left center;
    background-size: auto 100%;
  }
  span.icon.XRP{
    background: url("../../assets/currency/XRP.png") no-repeat left center;
    background-size: auto 100%;
  }
  span.icon.VEN{
    background: url("../../assets/currency/VEN.png") no-repeat left center;
    background-size: auto 100%;
  }
  span.icon.REQ{
    background: url("../../assets/currency/REQ.png") no-repeat left center;
    background-size: auto 100%;
  }
  span.icon.VIBE{
    background: url("../../assets/currency/VIBE.png") no-repeat left center;
    background-size: auto 100%;
  }
  span.icon.NEO{
    background: url("../../assets/currency/NEO.png") no-repeat left center;
    background-size: auto 100%;
  }
  span.icon.EOS{
    background: url("../../assets/currency/EOS.png") no-repeat left center;
    background-size: auto 100%;
  }
  span.icon.XMR{
    background: url("../../assets/currency/XMR.png") no-repeat left center;
    background-size: auto 100%;
  }